/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: #202020;
  color: #fff;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
  background-image: url("your-image.jpg"); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* Ensures the image covers the entire panel */
  background-position: center; /* Centers the image within the panel */
  color: white; /* Adjust text color to contrast with background */
  padding: 20px;
  height: 100vh; /* Makes the main content take up full height */
  overflow: auto; /* Allows scrolling if content exceeds panel height */
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  background-color: #0a0a0a;
  border: none;
  padding: 15px 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #0f0f0e;
}
