/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: #202020;
  color: #fff;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
}

.main-content {
  background-image: url("../images/background.jpg"); /* Replace with the path to your image */
  background-size: cover; /* Make the image cover the entire area */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  padding: 20px; /* Add padding if needed */
  color: #333; /* Set text color to make it readable */
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  background-color: #0a0a0a;
  border: none;
  padding: 15px 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #0f0f0e;
}
