
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border:0;
    list-style: none;
    appearance: none;
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-size: 0.9rem;
  }

  /* dahboard*/
  .sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding-top: 20px;
}
.sidebar .nav-link {
    color: #333;
    padding: 0.5rem 1rem;
}
.sidebar .nav-link:hover {
    background-color: #e9ecef;
}
.sidebar .nav-link.active {
    background-color: #0d6efd;
    color: white;
}
.main-content {
    padding: 15px;
}
.card {
    margin-bottom: 15px;
}
.card-body {
    padding: 1rem;
}
.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.card-text.display-4 {
    font-size: 2rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.8rem;
}
#monthlyOrdersChart {
    height: 300px !important;
}

/* Add Restaurant*/
.main-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}
label {
  grid-column: span 1;
}
input, textarea {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
}
textarea {
  resize: vertical;
}
.buttons {
  grid-column: span 2;
  text-align: center;
}
button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #6ca0dc;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #5588c3;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table, th, td {
  border: 1px solid #dddddd;
}
th, td {
  padding: 8px;
  text-align: left;
}