* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6eaa8;
  padding: 10px 20px;
}

.logo {
  font-weight: bold;
  color: #ff5e00;
  font-size: 24px;
}

.location {
  font-size: 14px;
}

.search input {
  padding: 5px;
  font-size: 16px;
}

.inspiration {
  text-align: center;
  padding: 100px;
  background-color: white;
  margin-top: 10px;
}

.categories {
  display: flex;
  justify-content: space-around;
}

.circle-img {
  width: 300px;
  height: 200px;
  border-radius: 1000%;
  object-fit: cover; /* Ensures the image fits the container */
}

.category p {
  margin-top: 5px;
  font-size: 16px;
}

.restaurants {
  padding: 20px;
}

.restaurant-list {
  display: flex;
  justify-content: space-around;
}

.restaurant {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant img {
  width: 80%;
  height: 80;
  border-radius: 10px;
}
.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.restaurant-info {
  text-align: center;
}

.restaurant-info h3 {
  margin-top: 10px;
  font-size: 18px;
}

.restaurant-info p {
  margin: 5px 0;
  font-size: 14px;
}

.restaurant-info .rating {
  color: green;
  font-weight: bold;
}

.restaurant-info .price {
  color: #ff5e00;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f6eaa8;
  position: fixed;
  width: 100%;
  bottom: 0;
}
